div#flash-notice {
  border: 1px solid green;
  background-color: #ccffcc;

}

div#flash-error {
  border: 1px solid red;
  background-color: #ffcccc;
}

/* === ERROR MESSAGES === */
.errorExplanation {
  background-color: #ffcccc;
  border: 1px solid red;
  vertical-align: top;
  padding: 10px;
}

.errorExplanation h2 {
  color: maroon;
}

.errorExplanation ul li {
  list-style: square;
}

.fieldWithErrors input[type="text"],
  .fieldWithErrors input[type="password"] {
  border-color: red;
}