<%= stylesheet_link_tag 'widgEditor' %>
<%= javascript_include_tag "widgEditor" %>
<div>
  <label><%=label%></label>
  <%= form.text_area name, :cols => "50", :rows=>"3", :class=>"widgEditor" %>
</div>

